<div>
    <p></p>
    <button class="btn btn-default">{{query.query}}</button>
    <div ng-repeat="group in results">
        <h3>{{group.group_name}}</h3>
        <ul ng-repeat="resultRow in group.items">
            <li ng-repeat="result in resultRow.data">
                <div class="media">
                    <a class="cover-block">
                        <img class="cover-image" err-src="images/web1.png" ng-src="{{result | msImageProxy}}">
                        <span class="cover-text" ng-show="result.cover_text">{{result.cover_text}}</span>
                    </a>

                    <div>
                        <a class="media-heading result-title" ng-href="{{result | msURL}}">
                            {{result.title}}

                        </a>

                        <p class="result-subtitle">{{result.subtitle}}</p>

                        <div class="radio" style="text-align:right">
                            <label class="radio-inline"><input type="radio" ng-click="mark(4,result.id)"
                                                               name="{{result.id}}" checked>Perfect</label>
                            <label class="radio-inline"><input type="radio" ng-click="mark(3,result.id)"
                                                               name="{{result.id}}">Excellent</label>
                            <label class="radio-inline"><input type="radio" ng-click="mark(2,result.id)"
                                                               name="{{result.id}}">Good</label>
                            <label class="radio-inline"><input type="radio" ng-click="mark(1,result.id)"
                                                               name="{{result.id}}">Fair</label>
                            <label class="radio-inline"><input type="radio" ng-click="mark(0,result.id)"
                                                               name="{{result.id}}">Bad</label>
                        </div>
                    </div>


                </div>


            </li>


        </ul>

    </div>

    <div>
        <nav>
            <ul class="pager">
                <li><a ng-click="next()">Next</a></li>
                <li><a ng-click="compute()">Done</a></li>
            </ul>
        </nav>
    </div>
</div>
